<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZennoPosterProject1.DataBase.Model.PornHubDb" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ZennoPosterProject1.DataBase.Model.PornHubDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>